# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\stuff\rishabh\pjv_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
